<div class="register-page">
  <div class="form">
    <form class="login-form" appearance="fill" fxFlexFill>
      <div>
        <img src="../../../favicon.ico" alt="Logo" class="img" />
      </div>
      <div>
        <h1 class="font-weight-bold text-center title">{{ title }}</h1>
      </div>
      <input
        class="form-control"
        type="text"
        placeholder="name"
        [(ngModel)]="registerData.name"
        name="name"
      />
      <input
        class="form-control"
        type="text"
        placeholder="username"
        [(ngModel)]="registerData.username"
        name="username"
      />
      <input
        class="form-control"
        type="password"
        placeholder="password"
        [(ngModel)]="registerData.password"
        name="password"
      />
      <input
        class="form-control"
        type="text"
        placeholder="email"
        [(ngModel)]="registerData.email"
        name="email"
      />
      <input
        class="form-control"
        type="text"
        placeholder="nationality"
        [(ngModel)]="registerData.nationality"
        name="nationality"
      />

      <button class="btn btn-primary btnC" type="submit" role="button">
        Registrarse
      </button>

      <div>
        <p>¿Ya tienes una cuenta? Inicia sesión aqui:</p>
        <a class="nav-link" [routerLink]="['/login']">Inicia Sesión</a>
      </div>
    </form>
  </div>
</div>
