<nav class="navbarNB">
  <div class="" id="navbarNavNB ">
    <ul class="navbar-navNB">
      <div class="imgD">
        <img src="../../../favicon.ico" alt="Logo" class="img" />
        <a class="titulo" [routerLink]="['/home']" href=" # "
          >Foddie Challenge</a
        >
      </div>
      <li class="nav-itemNB" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/challenges']">RETOS</a>
      </li>
      <li class="nav-itemNB" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/challenges']">MIS RETOS</a>
      </li>
      <li class="nav-itemNB" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/learning']">ENSEÑANZA</a>
      </li>
      <li class="nav-itemNB" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/fabricantes']">FORO</a>
      </li>
      <li class="nav-itemNB" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/home/fabricantes']">PERFIL</a>
      </li>
      <li class="nav-itemNB">
        <!-- <mat-icon>home</mat-icon> -->
        <a class="nav-link cerrar" (click)="signOut()" href="">CERRAR SESION</a>
      </li>
      <li>
        <button id="lup" class="btn btn-primary" type="button">
          <i class="fas fa-search"></i>
        </button>
      </li>
    </ul>
  </div>
</nav>
<router-outlet class="bg-light"></router-outlet>
