.navbarNB {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border-radius: 15px;
  border: solid red;
  background-color: whitesmoke;
}

.titulo {
  font-size: 2rem;
  font-family: "Combo", sans-serif;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  color: red;
}

.titulo a:visited {
    color: red;
}

.navbar-navNB {
  display: flex;
  gap: 2rem;
}

.navbarNB ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: flex;
  align-items:center;
}

ul li a {
  display: flex;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  align-items:flex-end;
}
.img {
  width: 20%;
}
.imgD {
  height: 15%;
}

#lup {
  color: white;
  background-color: green;
  width: 50px;
  height: 50px;
  border-color: transparent;
}
