.navbarNB {
  display:flex;
  flex-direction: column;
  margin: 0.7%;
  margin-top: 0% !important;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: whitesmoke;
}

.titulo {
  font-size: 2rem;
  font-family:'Permanent' !important;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  text-decoration: none;
  color: red;
}

.titulo a:visited {
    color: red;
}

.navbar-navNB {
  display: flex;
  gap: 2rem;
}

.navbarNB ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
li {
  display: flex;
  align-items:center;
}

ul li a {
  display: flex;
  color: red;
  padding: 8px 16px;
  text-decoration: none;
  font-size: large;
}
.img {
  width: 20%;
  margin: 1%;
}
.imgD {
  height: 30%;
  width: 40%;
}
.btnC{
  border-color: transparent;
  background-color: white;
}
#but{
  color: white;
  background-color: red;
  width: 50px;
  height: 50px;
  border-color: transparent;
  display: flex;
  align-items:center;
  margin: 10%;
}
mat-icon{
  color: whitesmoke;
}
.mat-iconR{
  color: red;
}
.dropbtn {
  cursor: pointer;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}
.dropdown:hover .dropdown-content {
  display: block;
}