.navbarNB {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border-radius: 15px;
    border: solid red;
    background-color: rgba(223, 14, 14, 0.801) ;
}

.titulo {
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    text-decoration: none;
    color:whitesmoke;
}

.titulo a:visited {
    color: red;
}

.navbar-navNB {
    display: flex;
    gap: 2rem;
}

.navbarNB ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

ul li a {
    display: block;
    color: whitesmoke;
    padding: 8px 16px;
    text-decoration: none;
}