.container {
  max-width: 70%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 1%;
  margin-top: 8% !important;
}
.header-image {
  background-image: url("https://images.pexels.com/photos/35666/cooking-baby-only-kitchen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
.card{
  border-color: red;
  border-radius: 15px;
  margin: 1% !important;
}
.btnC {
  margin: 5px;
  align-self: center !important;
}

::ng-deep .ngx-pagination .current {
  background: red !important;
  border-radius: 15px;
}

::ng-deep .mat-divider.mat-divider-inset {
  margin: 1% !important;
}
small{
  padding-left: 2%;
}

.img{
  width: 20% !important;
}
