.container {
    border-radius: 15px;
    background-color: whitesmoke;
    padding: 1%;
    margin-top: 8% !important;
    min-height: max-content;
    max-width: 70%;
}

.previsualization {
    max-height: 200px;
}