<div class="container">
  <div class="img">
    <img
      src="https://material.angular.io/assets/img/examples/shiba1.jpg"
      class="imgP"
    />
  </div>
  <div class="content">
    <div>
      <h1 class="title">{{ nombre }}</h1>
    </div>

    <div>
      <div>
        <h5 class="">{{ nombre }}</h5>
      </div>
      <div>
        <h5 class="">{{ nombre }}</h5>
      </div>
      <div>
        <h5 class="">{{ nombre }}</h5>
      </div>
      <div>
        <h5 class="">{{ nombre }}</h5>
      </div>
      <div>
        <h5 class="">{{ nombre }}</h5>
      </div>
    </div>

    <div class="but">
      <button class="btn btn-danger btnC">
        <mat-icon>create</mat-icon>EDITAR PERFIL
      </button>
    </div>
  </div>
</div>
