.container {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 1%;
  margin-top: 8% !important;
  min-height: max-content;
  max-width: 70%;
}
.btnC {
  margin: 5px;
  display: flex;
}
