.container {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 3%;
  margin-top: 8% !important;
  min-height: max-content;
  max-width: 70%;
  position: relative;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reto{
  display: flex;
}
p{
  align-self:baseline;
}
.icon{
  color: rgb(151, 2, 2);
}
.co{
  display: flex;
  margin-left: 3% !important;
}
.prim{
  width: 30% !important;
  margin-top: 6%;
}
.sec{
  width: 70% !important;
}
.cont{
  padding: 2%;
}
.cat{
  display: flex;
  padding-right: 10%;
}
.title {
  color: red;
}
.chef{
  font-size: larger !important;
  padding-left: 2%;
  padding-bottom: 1%;
}
.header-image {
  background-image: url("https://images.pexels.com/photos/35666/cooking-baby-only-kitchen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}
/* ::ng-deep .card-img, .card-img-bottom, .card-img-top {
  width: 70% !important;
  padding-left: 3%;
  border-color: black !important;
} */
.mat-card-header {
  margin: 2% !important;
}
.btnC {
  margin: 5px;
  display: flex;
}
.btnT {
  margin: 5px;
}
.buttons{
  display: flex;
}
.checked {
  color: orange;
}
.content {
  text-align: justify !important;
  font-weight: bold;
  font-size: larger !important;
}
span {
  display: block;
}
.mat {
  background-color: rgb(172, 172, 172);
}
.divflex {
  display: flex;
  text-align: justify !important;
}
.retoContenido {
  padding: 3%;
  border-color: solid black !important;
}

::ng-deep .mat-slider {
  max-width: 300px;
  width: 100%;
}
::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgb(255, 174, 0) !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: red !important;
  color: white;
}

::ng-deep .mat-slider-thumb {
  background-color: red !important;
}
