.container {
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 1%;
  margin-top: 8% !important;
  min-height: max-content;
  max-width: 70%;
}

.retos {
  margin: 15px;
}

.header-image {
  background-image: url("https://images.pexels.com/photos/35666/cooking-baby-only-kitchen.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
}

.titu {
  font-weight: bold;
  font-size: larger !important;
}
::ng-deep .mat-card-header-text {
    margin: 0% !important;
}
.btnC {
  margin: 5px;
  display: flex;
}

a {
  text-decoration: none;
  color: black;
}

.title {
  color: red;
}

::ng-deep .ngx-pagination .current {
  background: red !important;
  border-radius: 15px;
}

.pag {
  display: block;
  padding-top: 2rem;
}

.btns {
  display: flex;
}

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
