.container {
  max-width: 70%;
  border-radius: 15px;
  background-color: whitesmoke;
  padding: 1%;
  margin-top: 8% !important;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.btnC {
  margin: 5px;
  align-self: center !important;
}

/* active tab */
::ng-deep .mat-tab-list .mat-tab-labels .mat-tab-label-active {
  color: red;
  background-color: rgba(211, 208, 20, 0.418);
  border-radius: 5px;
}

::ng-deep .mat-tab-label-content {
    color: red;
  }

/* ink bar */
::ng-deep .mat-ink-bar {
  background-color: red !important;
}

::ng-deep .ngx-pagination .current {
  background: red !important;
  border-radius: 15px;
}

::ng-deep .mat-divider.mat-divider-inset{
  margin: 1% !important;
}
