<div class="container">
  <div class="close">
    <button class="closeBtn" mat-button mat-dialog-close>
      <mat-icon>clear</mat-icon>
    </button>
  </div>
  <div>
    <h3 class="font-weight-bold text-center title">{{ titulo }}</h3>
  </div>
  <div
    class="col"
    *ngFor="
      let e of comentarios
        | paginate
          : {
              itemsPerPage: tableSize,
              currentPage: page,
              totalItems: count
            }
    "
  >
    <div>
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-subtitle>nombre usuario</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ e.contenido }}</p>
          <small class="text-muted">Publicado:{{ e.fecha }}</small>
        </mat-card-content>

        <mat-card-actions>
          <button class="btn btn-danger btnC" mat-button>
            <mat-icon>reply</mat-icon>Responder
          </button>
        </mat-card-actions>
        <mat-divider inset></mat-divider>
      </mat-card>
    </div>
  </div>
  <div class=" ">
    <pagination-controls
      previousLabel="Prev "
      nextLabel="Next "
      (pageChange)="onTableDataChange($event)"
    >
    </pagination-controls>
  </div>
</div>
