.container {
  max-width: 40%;
  max-height: 70%;
  border-radius: 15px;
  border-color: rgba(83, 1, 1, 0.712);
  background-color: whitesmoke;
  padding: 1%;
  margin-top: 8% !important;
  position: static;
}
.header-image {
  background-image: url("https://material.angular.io/assets/img/examples/shiba1.jpg");
  background-size: cover;
}
.btnC {
  margin: 5px;
  align-self: center !important;
}
.closeBtn {
    background-color: transparent;
    border-style: hidden;
    color: red;
}
.close{
    padding-left: 90%;
    padding-right: 5%;
    display: flex;
}
.title {
  color: red;
}
::ng-deep .ngx-pagination .current {
  background: red !important;
  border-radius: 15px;
}
::ng-deep .mat-divider.mat-divider-inset {
  margin: 1% !important;
}
